.d-block {
    display: block;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

@media (min-width: 768px) {
    .d-md-flex {
        display: flex !important;
    }
}


.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ms-auto {
    margin-left: auto;
}

.mt-8 {
    margin-top: 8px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-16 {
    margin-bottom: 16px;
}


.mt-48 {
    margin-top: 48px;
}

.mb-36 {
    margin-bottom: 36px;
}

.px-0{
    padding-left:0 ;
    padding-right:0 ;
}
.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.g-0 {
    gap: 0;
}

.g-16 {
    gap: 16px;
}

.pe-0 {
    padding-right: 0;
}

.ps-0 {
    padding-left: 0;
}