.input-item {
    margin-bottom: 16px;
}

.form-control {
    display: block;
    border: 1px solid #000000;
    background-color: transparent;
    padding: 6px 12px;
    width: 100%;
}

.form-label {
    margin-bottom: 8px;
    display: inline-block;
}

.form-select {
    display: block;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    border: 1px solid #CED4DA;
}