.blog-type__nav {
    background: $color-secondary;

    .blog-type__list {
        display: flex;
        gap: 48px;

        @media (max-width:575px) {
            width: 100%;
            justify-content: space-between;
            gap: 0;
        }
    }

    .blog-type__link {
        display: block;
        padding: 12px 0;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
    }

    .btn-search {
        border: none;

        @media (max-width:575px) {
            display: none;
        }
    }
}

.blog-list {
    margin-bottom: 124px;

    @media (max-width:991px) {
        margin-bottom: 80px;
    }

    @media (max-width:575px) {
        margin-bottom: 64px;
    }
}

.blog-item {
    margin-bottom: 60px;

    @media (max-width:991px) {
        margin-bottom: 24px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}


.blog-link {
    display: block;
    text-decoration: none;
    color: #000;
}



.blog-img {
    .innerImg {
        padding-top: 64%;
    }
}

.blog-txt {
    display: flex;
    flex-direction: column;
    height: 100%;

    .blog-title {
        color: $color-secondary;

        @media (max-width:767px) {
            margin-top: 8px;
        }
    }

    .blog-sub-title {
        font-size: 20px;
        margin-bottom: 16px;

        @media (max-width:991px) {
            margin-bottom: 4px;
        }
    }

    .blog-date {
        opacity: .7;
    }

    .blog-text {
        color: #555555;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-clamp: 5;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;

        @media (max-width:767px) {
            display: none;
        }
    }


}

.btn-more {
    display: inline-block;
    margin-left: auto;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: $color-secondary;
    font-weight: 900;
    font-size: 36px;
    margin-top: auto;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        width: 0;
        height: 3px;
        background-color: $color-secondary;
        transition: all 0.5s;


    }

    @media (max-width:991px) {
        display: none;
    }
}

.blog-link:hover {
    .btn-more::after {
        width: 100%;
        opacity: 1;
        transition: all 0.5s;
    }

    .blog-img .innerImg .image {
        transform: scale(1.1);
        transition: 0.5s;
    }
}




.blog-content {
    &__text-editor {
        img {
            margin-bottom: 8px;
            max-width: 100%;
        }

        p {
            margin-bottom: 40px;

            @media (max-width:991px) {
                margin-bottom: 24px;
            }

            @media (max-width:575px) {
                margin-bottom: 8px;
            }
        }
    }
}

.blog-bottom {
    @media (max-width: 575px) {
        display: none;
    }
}



.btn-page-group {
    padding-top: 24px;
    border-top: 1px solid #707070;



    .btn-page {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000;
        gap: 12px;
        transition: all 0.5s;

        &:hover {
            gap: 6px;
            transition: all 0.5s;

        }
    }
}

.tag-title {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: $color-primary;

    span {
        display: inline-block;
        margin-right: 8px;
        font-size: 2rem;
    }
}

.tag-group {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;

    .tag-group__item {
        width: auto;

        .tag-group__link {
            display: block;
            text-decoration: none;
            font-size: 24px;
            color: $color-primary;
            font-weight: bold;
            transition: all 0.5s;

            &:hover {
                color: darken($color-primary, 50%);
                transition: all 0.5s;
            }
        }
    }
}

.aside {
    @media (max-width:767px) {
        display: none;
    }
}