<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.google.com/noto/specimen/Noto+Serif+TC">
    <title>眼鏡官網-部落格</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <%- include('./layout/blog-type-nav'); -%>
            <section class="blog-area page-y-padding">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb__item"><a href="index.html">首頁</a></li>
                            <li class="breadcrumb__item"><a href="blog.html">部落格</a></li>
                            <li class="breadcrumb__item"><a href="#">特別企劃</a></li>
                            <li class="breadcrumb__item active" aria-current="page">情人特別企劃</li>
                        </ol>
                    </nav>
                    <ul class="tag-group mt-8 mb-8">
                        <li class="tag-group__item"><a href="" class="tag-group__link">#special</a></li>
                        <li class="tag-group__item"><a href="" class="tag-group__link">#event</a></li>
                    </ul>
                    <div class="row">
                        <div class="col-md-8">
                            <main class="blog-content">
                                <h1 class="blog-content__title fs-2">情人特別企劃</h1>
                                <h2 class="blog-content__sub-title fs-4 mb-16">2020 Valentine’s Special</h2>
                                <div class="blog-content__text-editor">
                                    <img src="../assets/images/blog/blog-1.png" alt="blog-1">
                                    <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 <br>本次拍攝的鏡框款式與 NEEDS CLASSIC
                                        聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                                    <img src="../assets/images/blog/blog-1_01.png" alt="blog-1_01.png">
                                    <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 <br>本次拍攝的鏡框款式與 NEEDS CLASSIC
                                        聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                                    <img src="../assets/images/blog/blog-1_02.png" alt="blog-1_02.png">
                                    <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 <br>本次拍攝的鏡框款式與 NEEDS CLASSIC
                                        聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
                                    <img src="../assets/images/blog/blog-1_03.png" alt="blog-1_03.png">
                                    <p>
                                        2/14(五)-2/20(日) <br>
                                        至本店單筆消費滿2980元, <br>
                                        就送情人節限定眼鏡盒1個 期間優惠還有~~持他牌鏡框更換鏡片 <br>
                                        薄型非球面鏡片折300元<br>
                                        濾藍光鏡片折500元 <br>
                                        快快帶上另一半 <br>
                                        讓彼此每一次睜開眼，都被愛的視線包圍!<br>
                                    </p>
                                </div>
                            </main>
                            <div class="blog-bottom">
                                <div class="d-flex g-16 align-items-center mb-16">
                                    <h5>Share</h5>
                                    <a href="" class="d-block fs-4 text-dark"><i class="bi bi-facebook"></i></a>
                                    <a href="" class="d-block fs-4 text-dark"><i class="bi bi-instagram"></i></a>
                                </div>
                                <div class="btn-page-group d-flex justify-content-between">

                                    <a href="" class="btn-page btn-page__pre">
                                        <span class="material-symbols-outlined">arrow_back </span>
                                        上一篇：街頭潮人訪問 1
                                    </a>

                                    <a href="" class="btn-page btn-page__next">
                                        下一篇：街頭潮人訪問 2
                                        <span class="material-symbols-outlined">arrow_forward</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <aside class="aside">
                                <h3 class="tag-title">
                                    <span class="material-symbols-outlined">label</span>TAGS
                                </h3>
                                <ul class="tag-group mt-8 mb-8">
                                    <li class="tag-group__item"><a href="" class="tag-group__link">#special</a></li>
                                    <li class="tag-group__item"><a href="" class="tag-group__link">#sale</a></li>
                                    <li class="tag-group__item"><a href="" class="tag-group__link">#new_item</a></li>
                                    <li class="tag-group__item"><a href="" class="tag-group__link">#interview</a></li>
                                    <li class="tag-group__item"><a href="" class="tag-group__link">#trivia</a></li>
                                    <li class="tag-group__item"><a href="" class="tag-group__link">#news</a></li>
                                    <li class="tag-group__item"><a href="" class="tag-group__link">#event</a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('./layout/footer'); -%>
                <script type="module" src="../main.js"></script>
</body>

</html>